---
import Projects from "../components/projects.astro";
import Intro from "../components/intro.astro";
import Layout from "../layouts/Layout.astro";
import AboutMe from '../components/about-me.astro';

import "@fontsource-variable/inter";
import "../styles/index.css";
---

<Layout title="Portfolio">
  <main class="h-full w-full self-center max-w-[117.8rem]" transition:animate="fade">
    <Intro />
    <AboutMe />
    <Projects />
  </main>
</Layout>
