---
import Layout from "../layouts/Layout.astro";
import Tags from "../components/Tags/Tags.astro";
import { leaversOffboardingData }  from "../data/leaversOffboardingData.ts";

import Back from "../components/buttons/back.astro";
---

<Layout title="Leavers Offboarding">
  <section
    class="z-30 mx-auto mt-56 flex w-full max-w-[108rem] items-start justify-start text-white lg:p-0 p-10"
  >
    <div class="flex flex-col gap-9">
      <Back />
      <h2 class="font-RobotoSlabBold text-white lg:text-6xl text-5xl">
        Leavers Offboarding
      </h2>
      <div class="flex gap-4 flex-wrap">
        {
          leaversOffboardingData.map(
            ({ name, svg, bgColor, textColor, index }) => (
              <Tags
                name={name}
                svg={svg}
                bgColor={bgColor}
                textColor={textColor}
              />
            )
          )
        }
      </div>
      <p class="font-RobotoSlabRegular text-white lg:text-2xl text-xl">
        I worked as an IA and RPA Developer. During this time, I used tools such
        as Automation Anywhere 360 and Postman to work on a significant project
        for Experian North America. The project involved automating the
        company’s offboarding process using the ServiceNow API. I used Postman
        for testing and Automation Anywhere for the final development.
        Additionally, I created Process Design Documents, worked with Splunk for
        monitoring, designed workflow diagrams, and developed wrappers.
      </p>
    </div>
  </section>
</Layout>
