---
import SwiperComponent from "../components/Swiper/Swiper.jsx";
---

<div
  class="relative flex h-[calc(100vh-10rem)] w-screen max-w-[117.8rem] flex-col items-center justify-center text-white lg:mt-0 mt-32"
>
  <div class="max-w-[117.8rem]">
    <h2 class="p-4 font-RobotoSlabBold text-4xl border-b-2 border-white">Projects</h2>
  </div>
  <SwiperComponent client:visible />
</div>
